</div>
<footer class="footer">
    <div class="footer_div">
        <p style="margin-bottom: 0;">Authors: David Bowman, Jace Stevens, and Quintin Banks</p>
        <p style="margin: 0; padding-top: 0;">Contact us at <a href="mailto:azink11@ivytech.edu">David Bowman</a>, <a href="mailto:ahage1@ivytech.edu">Jace Stevens</a>, <a href="mailto:cpitner1@ivytech.edu">Quintin Banks</a></p>
        <p>&copy 2024</p>
    </div>
</footer>